body {
    width: 400px;
    margin: 0 auto;
    background-color: #ededed;
    font-family:Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
}
.search-container {
    width: 100px;
    margin: 0 auto;
    background-color:rgb(255, 255, 255);
    padding-bottom: 5%; 
    padding-top: 1em;
    padding-left: 150px;
    padding-right: 150px; 
    display: flex;
    align-items:center;
    justify-content: center;  
}
.grid-container {
    background-color:rgb(255, 255, 255);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat (2,1fr);
    gap: 1px;
    padding-bottom: 30px;
}
.grid-item {
    border: none;
    text-align: center;
    margin: 0 auto;
    font-size: small;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;;
}
.light-text {
    color:gray
}
span {
    color:black
}
.img-container {
    width: 400px;
    margin: 0 auto;
    background-color:rgb(255, 255, 255);
    padding-bottom: 50px;
}
img {
    margin-left: 30px;
    margin-right: 20px;
}
p {
    margin-left: 30px;
}

